.header {
    display: grid;
    grid-template-areas: "logo heading login";
    grid-area: head;
    background-color: lightcoral;
    padding: 10px;
}

.header__logo {
    grid-area: logo;
    max-width: 100px;
    cursor: pointer;
}

.header__heading{
    grid-area: heading;
}

.login {
    grid-area: login;
    margin: 0 auto;
    padding-top: 20px;
    cursor: pointer;
}

.login a {
    color:white;
    text-decoration: none;
}

.login a:hover {
    color:black;
    text-decoration: none;
}