.nav {
    grid-area: navigation;
    background-color: lightsalmon;
    padding: 10px;
}

.nav ul{
    list-style-type: none;
}

.nav li{
    cursor: pointer;
}

.nav__link {
    color: black;
    text-decoration: none;
}

.active {
    color: yellow;
}