
.profileInfo__cover img {
    max-width: 900px;
    max-height: 900px;

}
.profileInfo__image__descr__block {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.profileInfo__ava {
    /*margin: 0 auto;*/
    /*max-width: 90px;*/
    /*border-radius: 70px;*/
    padding: 10px;

}
.profileInfo__descr {
    padding: 10px;
}
