.App {
  display: grid;
  grid-template-areas:
            "head head"
            "navigation mainPage"
            "basement basement";
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  padding: 5px;
}

.App__mainPage {
    grid-area: mainPage;
    background-color: lightblue;
}



